body {
  font-family: sans-serif;
}

#pins {
  text-align: center;
}
#pins p {
  margin: 0;
}

#scoreboard table {
  border-collapse: collapse;
}

#scoreboard td {
  padding: 4px;
  border: 1px solid grey;
}

#scoreboard thead {
  font-weight: bold;
}

#scoreboard .roll-score {
  display: inline-block;
  width: 1.6em;
}
